@extends( _app() )

@section('content')


<!-- Page Content Wraper -->
<div class="page-content-wraper">
    <!-- Bread Crumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="breadcrumb-link">
                        <a href="{{ url('/') }}">Home</a>
                        <a role="button">Category</a>
                        @if( $category )
                            <span>{{ ucwords($category->name) }}</span>
                        @endif
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Bread Crumb -->

    <!-- Page Content -->
    <section class="content-page">
        <div class="container">
            <div class="row">

                <!-- Product Content -->
                <div class="col-12">

                    @if( !empty( $products ) && !empty( $category ) )

                    <!-- Title -->
                    <div class="list-page-title row">
                        
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <h2 class="">{{ ucwords($category->name) }} <small> {{ $total }} Products</small></h2>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            {{ Form::open(['url' => route('product.category', $category->slug), 'class' => 'product-sort-by pull-right', 'id' => 'sorting-form', 'method' => 'GET']) }}
                                <label for="short-by">Short By</label>
                                <select name="sort-by" id="product-short-by" class="nice-select-box">
                                    <option value="default" selected="selected">Default sorting</option>
                                    <option value="popular">Popular</option>
                                    <option value="latest">Latest</option>
                                    <option value="low_to_high">Price: low to high</option>
                                    <option value="high_to_low">Price: high to low</option>
                                </select>
                            {{ Form::close() }}
                            </div>
                            @if( $category->description )
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-desc">
                                    <?php echo $category->description; ?>
                                </div>
                            @endif
                        
                    </div>
                    <!-- End Title -->

                    <div class="row">
                        <div class="col-lg-12"><div class="border-bottom-1"></div></div>
                    </div> 

                    <!-- Product Filter -->
                    <div style="display: none;" class="product-filter-content">
                        <div class="product-filter-content-inner">

                            <!--Product Filter Button-->
                            <div class="product-filter-dropdown-btn "><a href="javascript:void(0)" data-toggle-target="filter-slide-toggle" class="btn btn-sm btn-gray slide-toggle-btn"><i class="fa fa-bars left" aria-hidden="true"></i>Filter</a></div>

                            <!--Product Sort By-->
                            
                            <script>
                                
                            </script>
                            <!--Product Show-->
                            <form class="product-show">
                                <label for="product-show">Show</label>
                                <select name="product-show" id="product-show" class="nice-select-box">
                                    <option value="15" selected="selected">15</option>
                                    <option value="18">18</option>
                                    <option value="21">21</option>
                                    <option value="24">24</option>
                                    <option value="all">Show All</option>
                                </select>
                            </form>



                            <!--Product List/Grid Icon-->
                            <div class="product-view-switcher">
                                <label>View</label>
                                <div class="product-view-icon product-grid-switcher product-view-icon-active">
                                    <a class="" href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
                                </div>
                                <div class="product-view-icon product-list-switcher">
                                    <a class="" href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Product Filter -->

                    <!-- Product filters Toggle-->
                    <div style="display: none;" class="container product-filter-dropdown toggle-content" id="filter-slide-toggle">
                        <div class="row col mlr-0">
                            <!-- Shop Categories -->
                            <div class="widget-sidebar col-sm-6 col-md-6 col-lg-3">
                                <h6 class="widget-title">Categories</h6>
                                <ul class="widget-content widget-product-categories jq-accordian">
                                    <li>
                                        <a href="#">Accessories</a>
                                    </li>
                                    <li>
                                        <a class="javascript:void(0)">Clothings<span class="jq-accordionIcon"></span></a>
                                        <ul class="children" style="display: none;">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Coats &amp; Jackets</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sportswear</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                            <li><a href="#">Trousers</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Man<span class="jq-accordionIcon"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Coats &amp; Jackets</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sportswear</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                            <li><a href="#">Trousers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Jacket</a></li>
                                    <li><a href="#">New arrivals</a></li>
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="sdsd">Socks</a></li>
                                </ul>
                            </div>
                            <!-- End Shop Categories -->

                            <!-- Filter Price -->
                            <div class="widget-sidebar widget-filter-price col-sm-6 col-md-6 col-lg-3">
                                <h6 class="widget-title">Select Price</h6>
                                <ul class="widget-content">
                                    <li>
                                        <a href="#">All</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="amount"><span class="currencySymbol">$</span>0.00</span>
                                            -
                                        <span class="amount"><span class="currencySymbol">$</span>500.00</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="amount"><span class="currencySymbol">$</span>500.00</span>
                                            -
                                        <span class="amount"><span class="currencySymbol">$</span>1100.00</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="amount"><span class="currencySymbol">$</span>1100.00</span>
                                            -
                                        <span class="amount"><span class="currencySymbol">$</span>1600.00</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="amount"><span class="currencySymbol">$</span>1600.00</span>
                                            -
                                        <span class="amount"><span class="currencySymbol">$</span>2100.00</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="amount"><span class="currencySymbol">$</span>2100.00</span>
                                            -
                                        <span class="amount"><span class="currencySymbol">$</span>2600.00</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="amount"><span class="currencySymbol">$</span>2600.00</span>
                                            +
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Filter Price -->

                            <!-- Filter Color -->
                            <div class="widget-sidebar widget-filter-color col-sm-6 col-md-6 col-lg-3">
                                <h6 class="widget-title">Select Color</h6>
                                <ul class="widget-content">
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #ff4040"></span></div>
                                            Red</a>
                                        <span class="color-count">(9)</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #000"></span></div>
                                            Black</a>
                                        <span class="color-count">(112)</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #ff9000"></span></div>
                                            Orange</a>
                                        <span class="color-count">(56)</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #ffcf3d"></span></div>
                                            Yellow</a>
                                        <span class="color-count">(24)</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #55b0da"></span></div>
                                            Blue</a>
                                        <span class="color-count">(18)</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #9ada55"></span></div>
                                            Green</a>
                                        <span class="color-count">(72)</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="filter-color-switcher"><span style="background-color: #7a463b"></span></div>
                                            Brown</a>
                                        <span class="color-count">(5)</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Filter Color -->

                            <!-- Filter Size -->
                            <div class="widget-sidebar widget-filter-size col-sm-6 col-md-6 col-lg-3">
                                <h6 class="widget-title">Select Size</h6>
                                <ul class="widget-content ">
                                    <li>
                                        <a href="#">L</a>
                                        <span>(24)</span>
                                    </li>
                                    <li>
                                        <a href="#">M</a>
                                        <span>(34)</span>
                                    </li>
                                    <li>
                                        <a href="#">S</a>
                                        <span>(45)</span>
                                    </li>
                                    <li>
                                        <a href="#">X</a>
                                        <span>(102)</span>
                                    </li>
                                    <li>
                                        <a href="#">XL</a>
                                        <span>(60)</span>
                                    </li>
                                    <li>
                                        <a href="#">XS</a>
                                        <span>(78)</span>
                                    </li>
                                    <li>
                                        <a href="#">XXL</a>
                                        <span>(35)</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Filter Size -->
                        </div>
                    </div>
                    <!-- End Product filters Toggle-->

                    <!-- Product Grid -->

                    <?php $wishlist = Cookie::get('wishlistProduct'); ?>
                    <?php $wishListProduct = $wishlist ? json_decode( $wishlist ) : array(); ?>
                    
                        <!-- items -->
                    <?php $c = 0; ?>
                    @foreach( $products as $key => $row )
                        @if( $c < 1 || $c === 4 )
                            <?php $c = 0; ?>
                            <div class="row product-list-item">
                        @endif
                        <div class="product-item-element col-sm-6 col-md-4 col-lg-3">
                            <!--Product Item-->
                            <div class="product-item">
                                <div class="product-item-inner">
                                    <div class="product-img-wrap">
                                        <a href="{{ url('/'.$category->slug.'/'.$row->slug.'/'.$row->product_id.'?source=category') }}">
                                        <img src="{{ asset( 'public/'. product_file( thumb( $row->feature_image, 260, 350 ) ) ) }}" alt="{{ $row->title }}">
                                        @if( $row->discount )
                                            <div class="sale-label discount">
                                                <span>{{ $row->discount }}% off</span>
                                            </div>
                                        @endif
                                        </a>
                                    </div>
                                    @if( $row->available > 0 )
                                        <div class="product-button">
                                            <a role="button" class="js_tooltip" id="addToCartProduct" data-value="{{ $row->product_id }}" data-id="{{ $row->id }}" data-mode="top" data-tip="Add To Cart"><i class="fa fa-shopping-bag"></i></a>
                                            <a role="button" class="js_tooltip" id="addToWishlist" data-value="{{ $row->product_id }}" data-id="{{ $row->id }}" data-mode="top" data-tip="Add To Whishlist"><i class="fa {{ in_array( $row->product_id, $wishListProduct ) ? 'fa-heart' : 'fa-heart-o' }}"></i></a>
                                        </div>
                                    @else
                                        <div class="out-stock">
                                            <span>Out of stock</span>
                                        </div>
                                    @endif
                                </div>
                                <div class="product-detail">
                                    <a class="tag" href="#"></a>
                                    <p class="product-title">
                                        <a href="{{ url('/'.$category->slug.'/'.$row->slug.'/'.$row->product_id.'?source=category') }}">{{ $row->title }}</a></p>
                                    <div class="product-rating">
                                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                            <span style="width: 60%"></span>
                                        </div>
                                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                                    </div>
                                    <p class="product-description">
                                    </p>
                                    <h5 class="item-price">                                    
                                        <?php $price = ''; ?>
                                        @if( $row->discount )
                                            <del><sub><span class="fa fa-inr"></span> {{ $row->price }}</sub></del>
                                            <?php $price = $row->price - ( $row->price * $row->discount ) / 100; ?>
                                        @endif
                                        <span class="fa fa-inr"></span> {{ $price ? $price : $row->price }}
                                    </h5>
                                </div>
                            </div>
                            <!-- End Product Item-->
                        </div>

                        @if( $c === 3 )
                            </div>
                        @endif

                        <?php $c++; ?>

                        @endforeach
                        @if( $c < 3 )
                            </div>
                        @endif

                    </div>
                    <!-- End Product Grid -->

                    <div class="pagination-wraper">
                        {{ $products->appends($_GET)->links() }}
                    </div>


                @else

                    <p class="text-center">Oops! content not found</p>

                @endif

                </div>
                <!-- End Product Content -->

            </div>
        </div>
    </section>
    <!-- End Page Content -->

</div>
<!-- End Page Content Wraper -->


@endsection