<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trippoo - Explore the World</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/GetWork-Logo-tiny-50-50.png" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
	<!-- ALL CSS FILES -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
	<link href="css/style.css" rel="stylesheet">
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
<!-- 	<link href="css/slick/slick.css" rel="stylesheet">
	<link href="css/slick/slick-theme.css" rel="stylesheet"> -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--BANNER AND SERACH BOX-->
	<section class="top-header td-pg-shadow td-package package top-head">
		<div class="container-fluid">
			<div class="row">
				<div class="main-hero">
					<div class="left-hero">
						<ul>
							<!-- <li><a href="login.html#signup">Sign up</a></li>
							<li><a href="login.html#login">Sign In</a></li> -->
							<li><a href="#">My Account</a></li>
						</ul>
						<ul class="pull-right top-social-icon">
							<li><a href="#"><span class="fa fa-phone"></span> +91-7500996633</a></li>
							<li><a href="#"><span class="fa fa-envelope"></span> info@techdost.com</a></li>
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						</ul>
					</div>
				</div>
				<nav class="navbar navbar-default">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="index.html"><img alt="Trippoo" src="img/trippoo-logo.png"></a>
			        </div>
			        <div id="navbar" class="navbar-collapse collapse">
			            <ul class="nav navbar-nav">
							<li><a class="my-account dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="my-account nav-menu" role="button">My Account <span class="fa fa-caret-down"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Sign In</a></li>
									<li><a href="#">Sign Up</a></li>
								</ul>
							</li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Refer &amp; Earn</a></li>
							<!-- <li>
								<a class="dropdown-toggle" id="nav-menu" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Offer</a>
								<ul class="dropdown-menu">
									<li>link 1</li>
									<li>link 2</li>
								</ul>
							</li>
							<li id="signup"><a href="login.html#signup">Sign up</a></li>
							<li id="login"><a href="login.html#login">Sign In</a></li> -->
			            </ul>
			        </div><!--/.nav-collapse -->
			    </nav>
			</div>
		</div>
	</section>

	<section class="td-contact-us td-contact td-content td-padding td-bg-gray">
		<div class="container">
			<div id="contact-us" class="row td-margin-bot">				
				<div class="td-title td-no-padd text-center">
					<h2>Contact Us</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3488.2696540683087!2d77.70430321464788!3d29.038604472337774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390c6f87218cb001%3A0x25027c84aee6098!2sTechDost!5e0!3m2!1sen!2sin!4v1514374570177" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-lg-12 td-padding">
					<div class="col-lg-8">
						<div class="form-container td-bg-white">
							<form class="form">
								<div class="form-group col-md-6">
									<input type="text" name="name" class="name form-control input-field" placeholder="Your name">
								</div>
								<div class="form-group col-md-6">
									<input type="tel" name="phone" class="phone form-control input-field" placeholder="Contact no.">
								</div>
								<div class="form-group">
									<input type="email" name="email" class="email form-control input-field" placeholder="Email address">
								</div>
								<div class="form-group">
									<textarea class="form-control message" rows="4" placeholder="Your message"></textarea>
								</div>
								<input type="submit" name="submit" class="btn btn-primary" vlaue="Send">
							</form>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="td-left td-bg-white">
							<div class="td-address">
								<div><span class="fa fa-home"></span></div>
								<div><p>1st Floor, 6-PAC, Opp- Isha Apartment, Roorkee Road, Golden Avenue, Daurli, Meerut, Uttar Pradesh 250001</p></div>
							</div>
							<div class="td-phone">
								<div><span class="fa fa-phone"></span></div>
								<div><p>1-800-123-HELLO</p></div>
							</div>
							<div class="td-email">
								<div><span class="fa fa-envelope"></span></div>
								<div><p><a href="mail@help@trippoo.com">help@trippoo.com</a></p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




		<!--FOOTER SECTION-->
	<section class="td-footer td-padd">
		<footer id="colophon" class="site-footer clearfix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<ul class="td-extras">
							<li>
								<a href="#!">
									<span class="fa fa-inr"></span>
									<span class="fa-text">Best price gaurantee</span>
								</a>
							</li>
							<li>
								<a href="#!">
									<span class="fa fa-eye-slash"></span>
									<span class="fa-text">No hidden charges</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<ul class="one-columns quick-links">
							<li> <a href="#">About us</a> </li>
							<li> <a href="#">Connect with</a> </li>
							<li> <a href="#">Quick Access</a> </li>
						</ul>
					</div>
				</div>
				 <div class="row">
			        <div class="td-social text-center">
						<h4>Follow us on</h4>
						<ul>
							<li><a href="#!"><i class="fa fa-facebook"></i></a> </li>
							<li><a href="#!"><i class="fa fa-google-plus"></i></a> </li>
							<li><a href="#!"><i class="fa fa-instagram"></i></a> </li>
							<li><a href="#!"><i class="fa fa-twitter"></i></a> </li>
						</ul>
					</div>
				 </div>
			</div>

		</footer>
	</section>
	<!--COPY RIGHTS-->
	<section class="td-copy">
		<div class="container-fluid text-center">
			<p><span>copyright © 2017 Techdost &nbsp;&nbsp;All rights reserved.</span> <span class="pull-right">Designed by <a href="https://www.techdost.com">Techdost</a></span></p>
		</div>
	</section>

	<!--SCRIPT FILES-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="OwlCarousel2-2.2.1/docs/assets/owlcarousel/owl.carousel.min.js"></script>
	<!-- <script src="js/materialize.min.js" type="text/javascript"></script> -->
	<script src="js/custom.js"></script>
</body>
</html>