
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trippoo - Explore the World</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/GetWork-Logo-tiny-50-50.png" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
	<!-- ALL CSS FILES -->
	<!-- <link href="css/materialize.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" rel="stylesheet">
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
<!-- 	<link href="css/slick/slick.css" rel="stylesheet">
	<link href="css/slick/slick-theme.css" rel="stylesheet"> -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--BANNER AND SERACH BOX-->
	<section class="top-header td-log">
			<div class="container-fluid">
				<div class="row navbar-fixed-top">
					<div class="main-hero">
						<div class="left-hero">
							<ul>
								<li><a href="#">My Account</a></li>
							</ul>
							<ul class="pull-right top-social-icon">
								<li><a href="#"><span class="fa fa-phone"></span> +91-7500996633</a></li>
								<li><a href="#"><span class="fa fa-envelope"></span> info@techdost.com</a></li>
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								<li><a href="#"><span class="fa fa-instagram"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							</ul>

						</div>
					</div>
					<nav class="navbar navbar-default">
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				              <span class="sr-only">Toggle navigation</span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				            </button>
				            <a class="navbar-brand" href="index.html"><img alt="Tripoo" src="img/trippoo-logo.png"></a>
				        </div>
				        <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav">
								<li>
									<a class="dropdown-toggle" id="nav-menu" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">My Account <span class="fa fa-caret-down"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Sign In</a></li>
										<li><a href="#">Sign Up</a></li>
									</ul>
								</li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Refer &amp; Earn</a></li>
								<!-- <li>
									<a class="dropdown-toggle" id="nav-menu" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Offer</a>
									<ul class="dropdown-menu">
										<li>link 1</li>
										<li>link 2</li>
									</ul>
								</li>
								<li id="signup"><a href="login.html#signup">Sign up</a></li>
								<li id="login"><a href="login.html#login">Sign In</a></li> -->
				            </ul>
				        </div><!--/.nav-collapse -->
				    </nav>
				</div>
			</div>
	</section>


	<section class="td-bg-login">
		<div class="td-overlay">
			<div class="container">
				<div class="row td-padding">
					<div class="col-lg-12 text-center td-margin-bot">
						<div class="td-title td-no-padd login-title">
							<!-- <span class="fa fa-map-marker"></span> -->
							<h2>Sign In</h2>
						</div>
					</div>
					<div class=" col-lg-offset-4 col-lg-4">
						<div class="panel panel-login">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-12">
										<a class="td-login-btn active" href="#login" class="active" id="login-form-link">Sign In</a>
										<a class="td-signup-btn" href="#register" id="register-form-link">Sign Up</a>
									</div>
								</div>
								<hr>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<div class="login-container" id="login-form" style="display: block;">
											<form action="" method="post" role="form">
												<div class="form-group">
													<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
												</div>
												<div class="form-group">
													<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
													<span class="forget-password pull-right"><a href="#" tabindex="5" class="forgot-password">Forgot Password?</a></span>
												</div>
												<div class="form-group">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-primary" value="Sign In">
												</div>
											</form>

											<div class="td-social-login text-center">
												<p>OR Login with</p>
												<a href="#"><span class="fa fa-facebook"></span></a>
												<a href="#"><span class="fa fa-google-plus"></span></a>
											</div>
										</div>

										<div class="register-form" id="register-form" style="display: none;">
											<form action="" method="post" role="form">
												<div class="form-group">
													<input type="text" name="first-name" id="first-name" tabindex="1" class="form-control first-name" placeholder="First name" value="">
												</div>
												<div class="form-group">
													<input type="text" name="last-name" id="last-name" tabindex="1" class="form-control last-name" placeholder="Last name" value="">
												</div>
												<div class="form-group">
													<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email address" value="">
												</div>
												<div class="form-group">
													<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
												</div>
												<div class="form-group">
													<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm password">
												</div>
												<div class="form-group">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-primary" value="Sign Up">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




		<!--FOOTER SECTION-->
	<section class="td-footer td-padd">
		<footer id="colophon" class="site-footer clearfix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<ul class="one-columns quick-links">
							<li> <a href="#">About us</a> </li>
							<li> <a href="#">Connect with</a> </li>
							<li> <a href="#">Quick Access</a> </li>
						</ul>
					</div>
				</div>
				 <div class="row">
			        <div class="td-social text-center">
						<h4>Follow us on</h4>
						<ul>
							<li><a href="#!"><i class="td-s td-facebook"></i></a> </li>
							<li><a href="#!"><i class="td-s td-google-plus"></i></a> </li>
							<li><a href="#!"><i class="td-s td-instagram"></i></a> </li>
							<li><a href="#!"><i class="td-s td-twitter"></i></a> </li>
						</ul>
					</div>
				 </div>
			</div>

		</footer>
	</section>
	<!--COPY RIGHTS-->
	<section class="td-copy">
		<div class="container-fluid text-center">
			<p><span>copyright © 2017 Techdost &nbsp;&nbsp;All rights reserved.</span> <span class="pull-right">Designed by <a href="https://www.techdost.com">Techdost</a></span></p>
		</div>
	</section>

	<!--SCRIPT FILES-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="OwlCarousel2-2.2.1/docs/assets/owlcarousel/owl.carousel.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var date = new Date();
	        date.setDate(date.getDate());  // get current date
	        $( "#datepicker" ).datepicker({
	            startDate: date  //initialize current date atlease
	        });

	        $('.td-sm-hm-carousel').owlCarousel({
			    loop:true,
			    margin:20,
			    responsiveClass:true,
			    responsive:{
			        0:{
			            items:1,
			            dots:false,
			            nav:true,
			            loop:true
			        },
			        600:{
			            items:2,
			            dots:false,
			            nav:false,
			            loop:true
			        },
			        1000:{
			            items:3,
			            nav:true,
			            dots:false,
			            loop:true
			        }
			    }
			});
			$('.td-big-hm-carousel').owlCarousel({
				items:1,
			    loop:true,
			    nav:true,
			    dots:false,
			    loop:true
			});
		});
	</script>
	<!-- <script src="js/materialize.min.js" type="text/javascript"></script> -->
	<script src="js/custom.js"></script>
</body>
</html>