<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trippoo - Explore the World</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/GetWork-Logo-tiny-50-50.png" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Risque" rel="stylesheet">
	<!-- ALL CSS FILES -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
	<link href="css/style.css" rel="stylesheet">
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
<!-- 	<link href="css/slick/slick.css" rel="stylesheet">
	<link href="css/slick/slick-theme.css" rel="stylesheet"> -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--BANNER AND SERACH BOX-->
	<section class="top-header td-pg-shadow td-package package top-head">
		<div class="container-fluid">
			<div class="row">
				<div class="main-hero">
					<div class="left-hero">
						<ul>
							<!-- <li><a href="login.html#signup">Sign up</a></li>
							<li><a href="login.html#login">Sign In</a></li> -->
							<li><a href="#">My Account</a></li>
						</ul>
						<ul class="pull-right top-social-icon">
							<li><a href="#"><span class="fa fa-phone"></span> +91-7500996633</a></li>
							<li><a href="#"><span class="fa fa-envelope"></span> info@techdost.com</a></li>
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						</ul>
					</div>
				</div>
				<nav class="navbar navbar-default">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="index.html"><img alt="Trippoo" src="img/trippoo-logo.png"></a>
			        </div>
			        <div id="navbar" class="navbar-collapse collapse">
			            <ul class="nav navbar-nav">
							<li><a class="my-account dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="my-account nav-menu" role="button">My Account <span class="fa fa-caret-down"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Sign In</a></li>
									<li><a href="#">Sign Up</a></li>
								</ul>
							</li>
							<li><a href="contact-us">Contact Us</a></li>
							<li><a href="#">Refer &amp; Earn</a></li>
							<!-- <li>
								<a class="dropdown-toggle" id="nav-menu" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Offer</a>
								<ul class="dropdown-menu">
									<li>link 1</li>
									<li>link 2</li>
								</ul>
							</li>
							<li id="signup"><a href="login.html#signup">Sign up</a></li>
							<li id="login"><a href="login.html#login">Sign In</a></li> -->
			            </ul>
			        </div><!--/.nav-collapse -->
			    </nav>
			</div>
		</div>
	</section>

	<section class="td-ds-package td-package td-content td-padding td-bg-gray">
		<div class="container">
			<div id="book-now" class="row">				
				<div class="col-lg-12 td-container">

					<!-- Package Nav -->
					<div class="col-lg-9 td-bg-white">
						<div class="td-pg-top-nav">
							<div class="td-pg-title">
								<div class="td-title">
									<h2>Delhi Kullu Manali</h2>
								</div>
								<div class="td-price pull-right">
									<span class="td-pg-price-label">Starting From</span>
									<span class="td-pg-price">Rs. 14,500</span>
								</div>
							</div>
							<div class="td-pg-details">
								<div class="td-pg-seller"><p><strong>Seller: </strong>Trippoo</p></div>
								<div class="td-pg-stay"><p><strong><span class="fa fa-clock-o"></span></strong> 5 Days</p></div>
							</div>
							<div class="td-tab td-tab-container">
								<ul>
									<li><a class="active" href="#">Photos</a></li>
									<li><a href="#detailed-itinerary">Detailed Itinerary</a></li>
									<li><a href="#overview">Overview</a></li>
									<li><a href="booking.html?packageId=7883874">Book Now</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 td-book">
						<div class="td-button text-center td-left td-bg-white">
							<a class="td-btn td-btn-log" href="#">Book Now</a>
							<a class="td-btn td-btn-log" href="#"><span class="fa fa-heart-o"></span> Favourite</a>
						</div>
					</div>

					<div class="col-lg-9 td-bg-white">
						<!-- Package Nav -->

						<!-- Carousel -->
						<div class="td-pg-img-carousel">
							<div class="owl-carousel td-big-hm-carousel owl-theme">
								<div class="item">
										<div class="td-img">
											<img src="img/banner001.jpg">
										</div>
								</div>
								<div class="item">
										<div class="td-img">
											<img src="img/banner002.jpg">
										</div>
								</div>
								<div class="item">
										<div class="td-img">
											<img src="img/banner003.jpg">
										</div>
								</div>
								<div class="item">
										<div class="td-img">
											<img src="img/banner004.jpg">
										</div>
								</div>
								<div class="item">
										<div class="td-img">
											<img src="img/banner005.jpg">
										</div>
								</div>
							</div>
						</div>
						<!-- Carousel -->

						<!-- Itinerary -->
						<div id="detailed-itinerary" class="td-pg-dt-itinerary">
							
							  <div class="page-header">
							    <h3>Detailed Day Wise Itinerary</h3>
							  </div>
							  <ul class="timeline">
							    <li class="timeline-inverted">
							      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
							      <div class="timeline-panel">
							        <div class="timeline-heading">
							          <h4 class="timeline-title">Day-1: arrival at delhi-manali</h4>
							        </div>
							        <div class="timeline-body">
							          <p>Arrival delhi by train or air same day in the evening 4.30pm start from delhi to manali by Volvo bus.overnight in bus.</p>
							        </div>
							      </div>
							    </li>
							    <li class="timeline-inverted">
							      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
							      <div class="timeline-panel">
							        <div class="timeline-heading">
							          <h4 class="timeline-title">Day 2: manali</h4>
							        </div>
							        <div class="timeline-body">
							          <p>Reach manali in morning ,after breakfast go for locacl sightseeing,hadimba temple,manu temple,vashist temple,and hot water spring,club house,Tibetan monastery.overnight stay in manali hotel.</p>
							        </div>
							      </div>
							    </li>
							    <li class="timeline-inverted">
							      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
							      <div class="timeline-panel">
							        <div class="timeline-heading">
							          <h4 class="timeline-title">Day 3: manali</h4>
							        </div>
							        <div class="timeline-body">
							          <p>After breakfast,journey to rohtang pass.solang valley: in solang valley u can do adventure activities (paragliding,zorbing,mountain biking,rope way,horse ride).evening return to manali,overnight stay in hotel.( adventure activities on extra cost)</p>
							        </div>
							      </div>
							    </li>
							    <li class="timeline-inverted">
							      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
							      <div class="timeline-panel">
							        <div class="timeline-heading">
							          <h4 class="timeline-title">Day-4:manali- kullu-delhi</h4>
							        </div>
							        <div class="timeline-body">
							          <p>After breakfast,journey to manikaran(kullu). On rute visit kullu shawl industry, vaishnu devi temple, kassol valley. it is famous for hot spring water, visit ram mandir, gurudwara, bord bus from manikaran and process to delhi. overnight in bus.</p>
							        </div>
							      </div>
							    </li>
							    <li class="timeline-inverted">
							      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
							      <div class="timeline-panel">
							        <div class="timeline-heading">
							          <h4 class="timeline-title">Day 5 arrival delhi</h4>
							        </div>
							        <div class="timeline-body">
							          <p>Morning reach delhi and proceed to onward journey.</p>
							        </div>
							      </div>
							    </li>
							  </ul>












							<!-- <div class="td-itinerary-1">
								<h4>Day 1</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>

							<div class="td-itinerary-2">
								<h4>Day 2</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>

							<div class="td-itinerary-3">
								<h4>Day 3</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>

							<div class="td-itinerary-4">
								<h4>Day 4</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>

							<div class="td-itinerary-5">
								<h4>Day 5</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div> -->
						</div>
						<!-- Itinerary -->

						<!-- About -->
						<div id="overview" class="td-pg-about">
							<div class="page-header">
							    <h3>Overview</h3>
							</div>
							<p>Let the alluring beauty of Shimla and Manali cast its spell on you, as you embark on a six-day trip. Feast your eyes on the panoramic view of verdant valleys, gushing rivers, snow-clad mountains and rustic villages. While in Manali, visit the famous temples, indulge in adventurous activities and get to the topmost point at Rohtang Pass. Sip a cup of piping hot tea and savour the tasty snacks served at the local tea stalls. Dress up in the traditional Himachali attire and click pictures with loved ones, before you end the trip.</p>
						</div>
					</div>
					<!-- About -->
					<div class="col-lg-3 td-book">
						<div class="td-left td-bg-white">
							<div class="td-ratings">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="pull-right">5 Ratings</span>
							</div>
						</div>

						<div class="td-left td-bg-white">
							<div class="td-help">
								<div class="td-left-title text-center"><p>Need Help <span class="fa fa-question-circle"></span></p></div>
								<div class="td-text"><p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p></div>
								<div class="td-phone"><p><span class="fa fa-phone"></span> 1-800-123-HELLO</p></div>
								<div class="td-email"><p><span class="fa fa-envelope"></span><a href="mail@help@trippoo.com">help@trippoo.com</a></p></div>
							</div>
						</div>

						<div class="td-left td-bg-white">
							<div class="td-why">
								<div class="td-left-title text-center"><p>Why Book with Us <span class="fa fa-question-circle"></span></p></div>
								<div class="td-text">
									<p><strong>Low Rates & Savings</strong></p>
									<p>Nunc cursus libero pur congue arut nimspnty.</p>
								</div>
								<div class="td-text">
									<p><strong>Excellent Support</strong></p>
									<p>Nunc cursus libero pur congue arut nimspnty.</p>
								</div>
								<div class="td-text">
									<p><strong>Low Rates & Savings</strong></p>
									<p>Nunc cursus libero pur congue arut nimspnty.</p>
								</div>
							</div>
						</div>

						<div class="td-left td-bg-white">
							<div class="td-similar">
								<div class="td-left-title text-center"><p>Similar Listings</p></div>
								<ul>
									<li>
										<span class="td-img"><img src=""></span>
										<span class="td-text"><p><a href="#">Shimla Package</a></p></span>
									</li>
									<li>
										<span class="td-img"><img src=""></span>
										<span class="td-text"><p><a href="#">Gangtok Beauty</a></p></span>
									</li>
									<li>
										<span class="td-img"><img src=""></span>
										<span class="td-text"><p><a href="#">Darjeeling Package</a></p></span>
									</li>
									<li>
										<span class="td-img"><img src=""></span>
										<span class="td-text"><p><a href="#">Ooty Tea Gardens</a></p></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>




		<!--FOOTER SECTION-->
	<section class="td-footer td-padd">
		<footer id="colophon" class="site-footer clearfix">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<ul class="td-extras">
							<li>
								<a href="#!">
									<span class="fa fa-inr"></span>
									<span class="fa-text">Best price gaurantee</span>
								</a>
							</li>
							<li>
								<a href="#!">
									<span class="fa fa-eye-slash"></span>
									<span class="fa-text">No hidden charges</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<ul class="one-columns quick-links">
							<li> <a href="#">About us</a> </li>
							<li> <a href="#">Connect with</a> </li>
							<li> <a href="#">Quick Access</a> </li>
						</ul>
					</div>
				</div>
				 <div class="row">
			        <div class="td-social text-center">
						<h4>Follow us on</h4>
						<ul>
							<li><a href="#!"><i class="fa fa-facebook"></i></a> </li>
							<li><a href="#!"><i class="fa fa-google-plus"></i></a> </li>
							<li><a href="#!"><i class="fa fa-instagram"></i></a> </li>
							<li><a href="#!"><i class="fa fa-twitter"></i></a> </li>
						</ul>
					</div>
				 </div>
			</div>

		</footer>
	</section>
	<!--COPY RIGHTS-->
	<section class="td-copy">
		<div class="container-fluid text-center">
			<p><span>copyright © 2017 Techdost &nbsp;&nbsp;All rights reserved.</span> <span class="pull-right">Designed by <a href="https://www.techdost.com">Techdost</a></span></p>
		</div>
	</section>

	<!--SCRIPT FILES-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="OwlCarousel2-2.2.1/docs/assets/owlcarousel/owl.carousel.min.js"></script>
	<!-- <script src="js/materialize.min.js" type="text/javascript"></script> -->
	<script src="js/custom.js"></script>
</body>
</html>